body{
    overflow-y: scroll;
}
.page-button{
    background:none;
    border:none;
    padding:50px;
    opacity: 0;
    font-size:30px;
    transition: .2s;
    color: rgba(255,255,255, .5);
}
#back-button {
    color:rgba(var(--color-rgb), .8);
    left:0;
    top:50px;
    position: fixed;
}   
#back-button:hover {
    color: white;
}
.lesson-card-container{
    width:60%;
    margin:0 auto;
    margin-top: 30vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom:200px;
}
.lesson-card-title-container{
    width: 100%;
    text-align: center;
    margin-bottom:50px;
    font-style: italic;
    opacity: 0;
    transition: .2s;
}
.card-list-title{
    color:var(--text-color);
    font-size:50px;
    text-align: center;
    font-family: 'Poppins SemiBold';
}
.card-list-lesson-title{
    color:var(--text-color);
    font-size:30px;
    opacity: .8;
    margin-top:-15px;
    text-align: center;
    font-family: 'Poppins SemiBold';
}
.card-number{
    position: absolute;
    left:-40px;
    top:50%;
    transform: translateY(-50%);
    opacity: 1;
    color:var(--color);
    font-style:italic;
    font-size:15px;
}
.card-list{
    position: relative;
    width:calc(100% - 40px);
    display: flex;
    flex-direction: row;
    align-items: center;
    background:rgba(var(--color-rgb), .7);
    padding:20px;
    border-radius:30px;
    transition: .2s;
    opacity: 0;
}
.card-list:not(:first-child){
    margin-top: 20px;
}
.card-list:hover{
    background:rgba(var(--color-rgb), 1);
}
.cards-background{
    position: absolute;

}
.card-list-content{
    display: grid;
    grid-template-columns: 50% auto 50%;
    align-items:center;
    width:calc(100% - 40px);
}
.card-list-word{
    padding:10px 30px;
    /* 
    box-shadow:0px 0px 5px #292727;
    border-radius:30px; */
    min-width: 100px;
    color:white;
    font-size: 20px;
    font-family: 'Poppins SemiBold';
}
.card-list-arrow{
    color:white;
    width:20px;
}

.card-correct-icon{
    color:var(--correct-color);
}
.card-list-stats{
    font-size:13px;
    margin-left:3px;
    color:var(--correct-color);
} 
.card-list-menu{
    margin-top:3px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card-list-menu-stats{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card-list-menu-icon{
    color:var(--gradient-color-2);
}

@media screen and (max-width:1300px) {
    .lesson-card-container{
        width: 70%;
    }
}
@media screen and (max-width:1100px) {
    .lesson-card-container{
        width: 80%;
    }
    .card-list-arrow{
        width: 15px;
    }
    .card-list-word{
        font-size:17px;
        padding: 5px ;
    }
}
@media screen and (max-width:600px) {
    .lesson-card-container{
        width: 90%;
        overflow-x: hidden;
    }
    .card-list-content{
        width: calc(100% - 20px);
    }
    .card-list{
        padding:10px;
        width: calc(100% - 20px);
    }
    .card-list-arrow{
        width: 10px;
    }
    .card-list-word{
        font-size:13px;
    }
    #back-button{
        display: none;
    }
}