{% extends 'english/base.html' %}
{% load static %}
{% block content %}
    <title>Bubble - Nouveau mot de passe</title>
    <link rel="stylesheet" href="{% static 'css/logs.css' %}?{% now 'U' %}">
    <script src="{% static 'scripts/color_page.js' %}"></script>


    <div id="disconnect-message">
        <p>Mot de passe à bien été modifié</p>
        <button onclick="changeWindow(`{% url 'login' %}`,'color')" >Se connecter</button>
    </div>
    <script>
        hover100(document.querySelector('#disconnect-message').querySelector('button'))
    </script>
{% endblock %}