{% extends 'english/base.html' %}
{% load static %}
{% block content %}
<title>Bubble - Confirmation nouveau mot de passe</title>
    <link rel="stylesheet" href="{% static 'css/logs.css' %}?{% now 'U' %}">
    <script src="{% static 'scripts/color_page.js' %}"></script>

    <div class="form-container">
        <p class="title">Modifier le mot de passe</p>
        {% if form.errors %}
            <div class="error-list">
            {% for field in form %}
                {% for error in field.errors %}
                    <p>{{ error|escape }}</p>
                {% endfor %}
            {% endfor %}
            </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="form">
                {{ form }}
            </div>
            <input type="submit" name="" class="submit-button" value='Modifier'>
        </form>
    </div>
    
    <script>
        document.querySelector('#id_new_password1').placeholder = 'Nouveau mot de passe'
        document.querySelector('#id_new_password2').placeholder = 'Confirmer le mot de passe'

        document.querySelector('.form-container').addEventListener('mouseenter',()=>{
            cursor.classList.add('color-cursor')
        })
        document.querySelector('.form-container').addEventListener('mouseleave',()=>{
            cursor.classList.remove('color-cursor')
        })
        hoverSmallWhite(document.querySelector('#id_new_password1'))
        hoverSmallWhite(document.querySelector('#id_new_password2'))
        hover100(document.querySelector('.submit-button'))

        hoverSmallWhite(document.querySelector('.errorlist'))
        document.querySelector('.errorlist').addEventListener('click', ()=>{
            document.querySelector('.errorlist').style.display = "none"
        })

        window.addEventListener('pageshow',()=>{
            document.querySelector('.form-container').classList.add('opacity-visible')
        })
    </script>
{% endblock %}