{% extends 'english/base.html' %}
{% load static %}
{% block content %}
    <title>Bubble - Nouveau mot de passe</title>
    <link rel="stylesheet" href="{% static 'css/logs.css' %}?{% now 'U' %}">
    <script src="{% static 'scripts/color_page.js' %}"></script>

    <div class="form-container">
        <p class="title">Modifier le mot de passe</p>
        <form method="POST">
            {% csrf_token %}
            <div class="form">
                {{ form }}
            </div>
            <input type="submit" name="" class="submit-button" value='Envoyer la requête'>
        </form>
    </div>
    
    <script>
        document.querySelector('#id_email').placeholder = "Email"
        document.querySelector('.form-container').addEventListener('mouseenter',()=>{
            cursor.classList.add('color-cursor')
        })
        document.querySelector('.form-container').addEventListener('mouseleave',()=>{
            cursor.classList.remove('color-cursor')
        })
        hoverSmallWhite(document.querySelector('#id_email'))
        hover100(document.querySelector('.submit-button'))

        window.addEventListener('pageshow',()=>{
            document.querySelector('.form-container').classList.add('opacity-visible')
        })
    </script>
{% endblock %}